# Mturk Pre-processing + TFE pre-1970


Stage: 
Input: 
Output:

In [1]:
import pandas as pd
path='D:\\docs\\Masters\\Data\\'

In [2]:
jpe=pd.read_csv("..\\csvs\\JPE_1940_1965.csv").fillna('0')
jpe['id']=jpe['id'].astype(str)
aer=pd.read_csv("..\\csvs\\aer_1940_1960.csv").fillna('0')
aer['id']=aer['id'].astype(str)
aer['journal']=aer['journal'].str.replace('JPE','American Economic Review')
res=pd.read_csv("..\\csvs\\res_1940_1971.csv").fillna('0')
res['id']=res['id'].astype(str)
res['journal']=res['journal'].str.replace('JPE','Review of Economic Studies')
qje=pd.read_csv("..\\csvs\\qje_1940_1976.csv").fillna('0')
qje['id']=qje['id'].astype(str)
qje['journal']=qje['journal'].str.replace('JPE','QJE')
ecta=pd.read_csv("..\\csvs\\ecta_1940_1965.csv").fillna('0')
ecta['id']=ecta['id'].astype(str)
ecta['journal']=ecta['journal'].str.replace('JPE','ECONOMETRICA')
ecta['journal'].unique()

array(['ECONOMETRICA'], dtype=object)

In [3]:
aer.Answer.unique()

array(['0', '1', 't', '1e', 'e', '1t', '3', 't1', '13', 'f', '1f', 'ef',
       'et', 'e1', 'e3', '31', 'te', 'ae', 'ea3', 'te1', 't1e', 't3',
       'ef1', 'et1', 'a3e', 'f1e', 'f1', 'ta', '1a', 'aet', 'r1', '1te',
       'a1', 'ft', 'e1f', '1et', '1ef', 'fe', '1fe', 'ea', 'a', 'at',
       'ate', '1at', '1ft', '1tf', '11', 'r', '1etf', 'tf1', 'tf', 'a3',
       '3t', 'f3', 'ae3', '3e', '3e1', '31e', 'afe', 'fe1', 'ae1', '3ae',
       'af', 'g1', '1ae', '1g', '1ea', '1e1e'], dtype=object)

In [4]:
JOURNALS= ['AER', 'JPE', 'ECTA', 'RES', 'QJE']
#read in all processed masterlists
all_pages=pd.DataFrame()
for i in JOURNALS:
    all_pages=pd.concat([pd.read_csv(path+"csv files\\"+i.lower()+"_refs_all.csv"),all_pages], ignore_index=True)

#Create a batch file
all_pages=all_pages[all_pages.duplicated()==False].reset_index().drop('index', axis=1)
all_pages['id']=all_pages['pdf_url'].str.split('/').str[-1].str.split('_').str[0]
all_pages['page']=all_pages['pdf_url'].str.split('/').str[-1].str.split('-').str[-1].str.split('.').str[0].astype(int)
all_pages['journal']=all_pages['pdf_url'].str.split('/').str[-2].str.split('_').str[0]

In [5]:

def process(proc):
    proc['footnote']=proc['Answer'].str.contains('1').astype(int)
    proc['references1']=proc['Answer'].str.contains('3').astype(int)
    proc['references2']=proc['Answer'].str.contains('r').astype(int)
    proc['appendix']=proc['Answer'].str.contains('a').astype(int)
    proc['equations']=proc['Answer'].str.contains('e').astype(int)
    proc['tables']=proc['Answer'].str.contains('t').astype(int)
    proc['figures']=proc['Answer'].str.contains('f').astype(int)

In [6]:
1909391

1909391

In [7]:
aer

,pdf_url,year,journal,Answer,id,page
0,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1960,American Economic Review,0,1815035,0
1,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1960,American Economic Review,1,1815035,1
2,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1960,American Economic Review,1,1815035,2
3,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1960,American Economic Review,1,1815035,3
4,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1960,American Economic Review,1,1815035,4
...,...,...,...,...,...,...
24955,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1951,American Economic Review,0,1910793,2
24956,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1951,American Economic Review,0,1910793,3
24957,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1951,American Economic Review,0,1910793,4
24958,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1951,American Economic Review,0,1910793,5
24959,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1951,American Economic Review,0,1910793,6

In [8]:
aer
process(aer)
Reference_section=aer[(aer["references1"]==1)|aer["references2"]==1]
Ref_sec_list=list(Reference_section["pdf_url"].str.split('/').str[-1].str.split('_').str[0].unique())
aer_fn=aer[(aer['id'].isin(Ref_sec_list)==False)&(aer["footnote"]==1)]
aer_e=aer[(aer["equations"]==1)]
aer_f=aer[(aer["figures"]==1)]
aer_t=aer[(aer["tables"]==1)]

In [9]:
jpe
process(jpe)
Reference_section=jpe[(jpe["references1"]==1)|(jpe["references2"]==1)]
Ref_sec_list=list(Reference_section["pdf_url"].str.split('/').str[-1].str.split('_').str[0].unique())
jpe_fn=jpe[(jpe['id'].isin(Ref_sec_list)==False)&(jpe["footnote"]==1)]
jpe_e=jpe[(jpe["equations"]==1)]
jpe_f=jpe[(jpe["figures"]==1)]
jpe_t=jpe[(jpe["tables"]==1)]

In [10]:
res
process(res)
Reference_section=res[(res["references1"]==1)|(res["references2"]==1)]
Ref_sec_list=list(Reference_section["pdf_url"].str.split('/').str[-1].str.split('_').str[0].unique())
res_fn=res[(res['id'].isin(Ref_sec_list)==False)&(res["footnote"]==1)]
res_e=res[(res["equations"]==1)]
res_f=res[(res["figures"]==1)]
res_t=res[(res["tables"]==1)]

In [11]:
ecta
process(ecta)
Reference_section=ecta[(ecta["references1"]==1)|(ecta["references2"]==1)]
Ref_sec_list=list(Reference_section["pdf_url"].str.split('/').str[-1].str.split('_').str[0].unique())
ecta_fn=ecta[(ecta['id'].isin(Ref_sec_list)==False)&(ecta["footnote"]==1)]
ecta_e=ecta[(ecta["equations"]==1)]
ecta_f=ecta[(ecta["figures"]==1)]
ecta_t=ecta[(ecta["tables"]==1)]

In [12]:
qje
process(qje)
Reference_section=qje[(qje["references1"]==1)|(qje["references2"]==1)]
Ref_sec_list=list(Reference_section["pdf_url"].str.split('/').str[-1].str.split('_').str[0].unique())
qje_fn=qje[(qje['id'].isin(Ref_sec_list)==False)&(qje["footnote"]==1)]
qje_e=qje[(qje["equations"]==1)]
qje_f=qje[(qje["figures"]==1)]
qje_t=qje[(qje["tables"]==1)]

## Summary Statistics

In [13]:
total=aer.shape[0]+jpe.shape[0]+ecta.shape[0]+res.shape[0]+qje.shape[0]

In [14]:
footnote=ecta_fn.shape[0]+aer_fn.shape[0]+jpe_fn.shape[0]+res_fn.shape[0]+qje_fn.shape[0]
footnote/total

0.5216196228275607

In [15]:
con=pd.concat([aer, ecta, qje, jpe, res], ignore_index=True)

tables_pp=con[(con["tables"]==1)][["pdf_url", "year", "journal", "id", "page"]].reset_index(drop=True)
tables_pp.to_csv("tb_pp.csv", index=False)
fg_pp=con[(con["figures"]==1)][["pdf_url", "year", "journal", "id", "page"]].reset_index(drop=True)
fg_pp.to_csv("fg_pp.csv", index=False)

In [16]:
figure=aer_f.shape[0]+jpe_f.shape[0]+res_f.shape[0]+ecta_f.shape[0]+qje_f.shape[0]
figure/total

0.05905337113274991

In [26]:
qje.columns

Index(['pdf_url', 'year', 'journal', 'Answer', 'id', 'page', 'footnote',
       'references1', 'references2', 'appendix', 'equations', 'tables',
       'figures'],
      dtype='object')

In [33]:
aer[['pdf_url', 'year', 'journal', 'Answer', 'id', 'page',"equations", 'tables', 'figures']]
aer['year'].unique()

array([1960, 1954, 1959, 1956, 1958, 1957, 1955, 1949, 1947, 1953, 1941,
       1952, 1940, 1950, 1944, 1945, 1942, 1951, 1946, 1948, 1943],
      dtype=int64)

In [34]:
qje.to_csv("qje_1940_1976_indicator.csv", index=False)
aer.to_csv("aer_1940_1960_indicator.csv", index=False)
jpe.to_csv("jpe_1940_1965_indicator.csv", index=False)
ecta.to_csv("ecta_1940_1963_indicator.csv", index=False)
res.to_csv("res_1940_1971_indicator.csv", index=False)

In [43]:
qje

,pdf_url,year,journal,Answer,id,page,footnote,references1,references2,appendix,equations,tables,figures
0,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1976,QJE,1,1886043,0,1,0,0,0,0,0,0
1,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1976,QJE,1,1886043,1,1,0,0,0,0,0,0
2,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1976,QJE,1,1886043,2,1,0,0,0,0,0,0
3,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1976,QJE,1t,1886043,3,1,0,0,0,0,1,0
4,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1976,QJE,1,1886043,4,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24675,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1940,QJE,1,1882452,11,1,0,0,0,0,0,0
24676,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1940,QJE,1,1882452,12,1,0,0,0,0,0,0
24677,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1940,QJE,1,1882452,13,1,0,0,0,0,0,0
24678,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1940,QJE,1,1882452,14,1,0,0,0,0,0,0
24679,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1940,QJE,1,1882452,15,1,0,0,0,0,0,0

In [41]:
fg_all=pd.read_csv("C:\\Users\\sjwu1\\Documents\\thesis\\2 Helper Scripts\\fg_pp1940_1990.csv").fillna('0')
tb_all=pd.read_csv("C:\\Users\\sjwu1\\Documents\\thesis\\2 Helper Scripts\\tb_pp1940_1990.csv").fillna('0')

In [44]:
fg_all.to_csv("fg_per_page_counts_1940_1970.csv", index=False)
tb_all.to_csv("tb_per_page_counts_1940_1970.csv", index=False)

In [19]:
equations=aer_e.shape[0]+jpe_e.shape[0]+res_e.shape[0]+ecta_e.shape[0]+qje_e.shape[0]
equations/total

0.23165290274867498

In [20]:
table=aer_t.shape[0]+jpe_t.shape[0]+res_t.shape[0]+ecta_t.shape[0]+qje_t.shape[0]
table/total

0.08274374460742019

In [21]:
footnote*60/3600

705.3166666666667

In [22]:
table*5/3600

9.323611111111111

In [87]:
ecta_e.to_csv("ecta_eq.csv")

In [136]:
aer_fn.shape

(10947, 13)

In [88]:
qje_e.to_csv("qje_eq.csv")

In [89]:
jpe_e.to_csv("jpe_eq.csv")

In [90]:
res_e.to_csv("res_eq.csv")

In [91]:
aer_e.to_csv("aer_eq.csv")

In [166]:
ecta_e.sample(n=200, random_state=1).to_csv("eq\\ecta_eq_200.csv", index=False)
qje_e.sample(n=200, random_state=1).to_csv("eq\\qje_eq_200.csv", index=False)
res_e.sample(n=200, random_state=1).to_csv("eq\\res_eq_200.csv", index=False)
aer_e.sample(n=200, random_state=1).to_csv("eq\\aer_eq_200.csv", index=False)
jpe_e.sample(n=200, random_state=1).to_csv("eq\\jpe_eq_200.csv", index=False)

In [27]:
JOURNALS= ['AER', 'JPE', 'ECTA', 'RES', 'QJE']
#read in all processed masterlists
All=pd.DataFrame()
for i in JOURNALS:
    All=pd.concat([pd.read_excel('C:\\Users\\sjwu1\\Journal_Data\\datadumps\\combined\\'+i+'_M_sco_du.xlsx'),All], ignore_index=True)

#Create a batch file
All=All[All.duplicated()==False].reset_index().drop('index', axis=1)

In [28]:
All.Jstor_journal.unique()

array(['QJE', 'RES', 'ECONOMETRICA', 'JPE', 'AER'], dtype=object)

In [29]:
All['id']=All['stable_url'].str.split('/').str[-1].str.split('.').str[0]
reduced=All[['id','Jstor_authors', 'Jstor_title','year','volume','issue']].reset_index().drop('index', axis=1)
#pdf_url,year,page,title,authors,vol,issue,journal,ID

In [73]:
#aer_fn=pd.read_csv("aer_ex_none1940_1976.csv")
aer_fn=pd.read_csv("qje_ex_none1940_1976.csv")

In [81]:
aer_fn.iloc[2515,3]=1

In [74]:
aer_fn['Answer'].unique()

array([ 1., nan, 11.])

In [83]:
aer_fn[aer_fn["Answer"]==0]=float('nan')

In [75]:
aer_fn['Answer'].unique()

array([ 1., nan, 11.])

In [76]:
aer_fn[pd.isna(aer_fn['id'])]

Empty DataFrame
Columns: [pdf_url, year, journal, Answer, id, page]
Index: []

In [77]:
aer_fn.shape
aer_fn.dtypes

pdf_url     object
year         int64
journal     object
Answer     float64
id           int64
page         int64
dtype: object

In [78]:
aer_nones_out=aer_fn[(aer_fn["Answer"]==1)|(aer_fn["Answer"]==11)].reset_index(drop=True)

In [79]:
aer_nones_out.shape

(9476, 6)

In [80]:
keep=["1882217","1884134","1884249","1880820", "1880545",
"1880544","1883082",
"1881692","1881862","1884665",
"1881697","1883827","1882146",
"1884265","1884234","1885709",
"1883814","1883816","1884189",
"1884193","1884187","1882233",
"1882298","1879449","1880547","1880651",
"1880587","1880693","1879449",
"1880691","1882918","1880688","1879587",
"1882246","1883079","1880535","1880840","1880842","1881838",
"1882273","1880702","1882043","1880561","1880492","1880799",
"1880562","1880806","1880800","1882182","1882011","1881793",
"1882024","1882183","1882183","1881953","1881807","1881823","1881826","1881711","1884704","1884690","1884692","1884695","1886082","1886089"]

In [81]:
aer_nones_out['id']=aer_nones_out["id"].astype(int)
aer_nones_out['id']=aer_nones_out["id"].astype(str)

In [82]:
aer_nones_out_k=aer_nones_out[aer_nones_out['id'].isin(keep)].reset_index(drop=True)

In [85]:
aer_nones_out_nk=aer_nones_out[aer_nones_out['id'].isin(keep)==False].reset_index(drop=True)

In [86]:
print(aer_nones_out_k.shape)
print(aer_nones_out_nk.shape)

(718, 6)
(8758, 6)

In [90]:
out=aer_nones_out_nk.merge(reduced, how='left', on='id')
out['Jstor_title']=out['Jstor_title'].replace(",",';')
out['Jstor_authors']=out['Jstor_authors'].replace(",",';')
out['issue']=out['issue'].replace(",",';')
out['volume']=out['volume'].replace(",",';')
out.columns
out[['pdf_url', 'year_x','id', 'page', 'Jstor_authors', 'Jstor_title', 'volume',
       'issue']]

dict = {'year_x': 'year',
        'Jstor_authors': 'authors',
       'Jstor_title': 'title',
       'volume' : 'vol',
       'ID' : 'id'}
# call rename () method
oout=out.rename(columns=dict)

In [91]:
tem=oout[['pdf_url', 'year', 'journal','id', 'page','authors', 'title', 'vol', 'issue']]

In [92]:
tem.to_csv('progress_qje_wo_nones_all.csv', encoding="UTF-8", quoting=1, index=False)

In [93]:
tem.head()
tem.shape

(8758, 9)

In [72]:
All['content_type'].value_counts()

Article       31849
Review        13639
MISC          11126
Comment        1363
Reply           834
Review2         769
Discussion      622
Rejoinder       152
Name: content_type, dtype: int64

In [161]:
jpe_fn.shape[0]+ecta_fn.shape[0]+res_fn.shape[0]

15013

In [163]:
aer_fn.shape[0]

10947

In [253]:
X=All[(All['content_type']!='MISC')&(All['content_type']!='Review')&(All['content_type']!='Review2')&(All['year']>=1940)&(All['year']<=2010)]
K=All[(All['content_type']=="Article")&(All['year']>=1940)&(All['year']<=2010)]
len(K['id'].values)

23482

In [9]:

qje_none=pd.read_csv("qje_ex_none1940_1976.csv")

In [10]:
qje_none=qje_none.fillna(0)

In [16]:
print(sum(qje_none["Answer"]==0.0))
print(sum(qje_none["Answer"]==1.0))
print(sum(qje_none["Answer"].shape))
qje_none[(qje_none["Answer"]==1.0)|(qje_none["Answer"]==11.0)].to_csv("without_nones_qje.csv", index=False)
print(qje_none["Answer"].unique())

1741
2664
4407
[ 1.  0. 11.]

In [134]:
a84=pd.read_csv('D:\\docs\\Masters\\Data\\aer_refs2.csv')
e84=pd.read_csv('D:\\docs\\Masters\\Data\\ecta_refs2.csv')
j84=pd.read_csv('D:\\docs\\Masters\\Data\\jpe_refs2.csv')
r84=pd.read_csv('D:\\docs\\Masters\\Data\\res_refs2.csv')
q84=pd.read_csv('D:\\docs\\Masters\\Data\\ecta_refs2.csv')

In [149]:
list84=[]
list84.extend(a84['pdf_url'].str.split('/').str[-1].str.split('_').str[0].unique())
list84.extend(e84['pdf_url'].str.split('/').str[-1].str.split('_').str[0].unique())
list84.extend(j84['pdf_url'].str.split('/').str[-1].str.split('_').str[0].unique())
list84.extend(r84['pdf_url'].str.split('/').str[-1].str.split('_').str[0].unique())
list84.extend(q84['pdf_url'].str.split('/').str[-1].str.split('_').str[0].unique())

In [152]:
len(list84)

5683

In [155]:
len(a84['pdf_url'].str.split('/').str[-1].str.split('_').str[0].unique())

2261

In [157]:
len(e84['pdf_url'].str.split('/').str[-1].str.split('_').str[0].unique())

778

In [158]:
len(j84['pdf_url'].str.split('/').str[-1].str.split('_').str[0].unique())

1078

In [159]:
len(r84['pdf_url'].str.split('/').str[-1].str.split('_').str[0].unique())

788

In [160]:
len(q84['pdf_url'].str.split('/').str[-1].str.split('_').str[0].unique())

778

In [208]:
all_ids=all_pages['id'].value_counts()

In [266]:
personal=all_ids[(all_ids<5)|(all_ids>40)].index
len(personal)

4360

In [265]:
sum(all_ids[(all_ids>=5)&(all_ids<=40)])/len(all_ids[(all_ids>=5)&(all_ids<=40)])

15.21408892266768

In [264]:
len(personal)-len(set(personal)&set(list84))

2846

In [250]:
len(set(K['id'].values)&set(personal))

1524

In [251]:
len(set(K['id'].values)&set(list84))

4211

In [17]:
# get list of pages with equations
ecta[ecta["equations"]==1]

,pdf_url,year,journal,Answer,id,page,footnote,references1,references2,appendix,equations,tables,figures
1,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1963,ECONOMETRICA,1e,1909981,1,1,0,0,0,1,0,0
2,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1963,ECONOMETRICA,1e,1909981,2,1,0,0,0,1,0,0
3,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1963,ECONOMETRICA,1e,1909981,3,1,0,0,0,1,0,0
4,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1963,ECONOMETRICA,1e,1909981,4,1,0,0,0,1,0,0
5,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1963,ECONOMETRICA,1e,1909981,5,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10306,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1940,ECONOMETRICA,1e,1906860,22,1,0,0,0,1,0,0
10307,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1940,ECONOMETRICA,e,1906860,23,0,0,0,0,1,0,0
10308,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1940,ECONOMETRICA,e1,1906860,24,1,0,0,0,1,0,0
10309,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1940,ECONOMETRICA,e1,1906860,25,1,0,0,0,1,0,0
10314,'https://myawsbucket-1231.s3.eu-west-3.amazona...,1940,ECONOMETRICA,e,1906860,30,0,0,0,0,1,0,0

In [ ]:
#Use CV to lift individual values

In [ ]:
#Use tesseract to parse for = and > < signs

In [ ]:
#look at way to lift individual letters